<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thor vs Ultron</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <audio id="audio" src="./musica/music.mp3" autoplay loop></audio>
    <button onclick="document.getElementById('audio').play()">Play Audio</button>


    <div id="app">
        <div v-if="gameOver" class="final">
            <h2>{{ gameResultMessage }}</h2>
            <button @click="resetGame">Tentar novamente</button>
        </div>

        <!-- Herói: Blue Eyes Ultimate Dragon -->
        <div class="character">
            <h2>Health Points</h2>
            <div :style="{width: hero.Percentil + '%'}" class="life-bar">{{ hero.life }}</div>
            <div class="sprite"><img src="images/hero.png" class="hero"></div>
            <h1>{{ hero.name }}</h1>
            <!-- Ações do Herói (disponíveis apenas no turno do herói) -->
            <div class="actions" v-if="currentTurn === 'hero' && !gameOver">
                <button @click="attack(true)">Atacar</button>
                <button @click="defend(true)">Defender</button>
                <button @click="usePotion(true)">Recuperar HP</button>
            </div>
        </div>

        <!-- Vilão: Dark Magician -->
        <div class="character">
            <h2>Health Points</h2>
            <div :style="{width: villain.Percentil + '%'}" class="life-bar">{{ villain.life }}</div>
            <div class="sprite"><img src="images/villain.png" class="villainSprite"></div>
            <h1>{{ villain.name }}</h1>
        </div>
    </div>

    <script src="index.js"></script>
    <script>
        window.onload = () => {
            var audio = document.getElementById("audio");
            audio.volume = 0.30;
        }
    </script>
</body>
</html>
